/* CSS styles */

body {
  background-color: #00ABFF99;
}

h1 {
    font-family: Impact, sans-serif;
    color: 1565C0;
    border-bottom: 2px solid black;
}
  

h2 {
  font-family: Impact, sans-serif;
  color: #000000;
}

h3 {
  font-family: Impact, sans-serif;
}

#container {
  overflow: hidden;
  width: 1000px;
  display: flex;
  justify-content: center;
}

#inner {
  overflow: hidden;
  width: 2000px;
}

.child {
  float: left;
  width: 200px;
}
#NYC {
  font-family: Impact, sans-serif;
}
#SF {
  font-family: Impact, sans-serif;
}
#Lon {
  font-family: Impact, sans-serif;

}
#Tokyo {
  font-family: Impact, sans-serif;
}
#ND {
  font-family: Impact, sans-serif;
}



.button {
  background-color: #505050;
  border: black;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Impact, sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px
}
          
