<!doctype html>
<center>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/upload.css" media="screen"/>
  </head>
  <title>Python Flask File Upload Example</title>
  <h1>Where Am I? </h1>
  <h2> Image Skyline and Landmark Identifier </h2>
  <body>
    <p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </p>
    {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}" style="max-width:100%;height:auto;" >
            <p> {{ prediction }}</p>
        </div>
    {% endif %}
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
              <input type="file" name="file" autocomplete="off" required accept="image/png, image/jpg, image/jpeg">
            </p>
        </dl>
       
        <p>
            <input class="button" type="submit" value="Submit">
        </p>

    </form>
  </body>
</center>
