<!DOCTYPE html>
<head>
  <head>
    <link rel="stylesheet" type="text/css" href="welcome.css" media="screen"/>
  </head>
  <center>
    <title>Welcome Page</title>
    <h1>Where Am I? </h1>
    <h2>City Identifier: Skylines and Landmarks</h2>
    <h3>This application can distinguish between 5 different cities:</h3>
  </center>
    
</head>
<center>
  <div id="container">
    <div id="inner">
      <div class="child" id="SF">
        <img src="sanfrancisco.jpeg">
        <span> San Francisco </span>
      </div>
      <div class="child" id="NYC">
        <img src="newyork.jpeg">
        <span> New York City </span>
      </div>
      <div class="child" id="Lon">
        <img src="london.jpeg">
        <span> London </span>
      </div>
      <div class="child" id="Tokyo">
        <img src="tokyo.jpeg">
        <span> Tokyo </span>
      </div>
      <div class="child" id="ND">
        <img src="newdelhi.jpeg">
        <span> New Delhi </span>
      </div>
    </div>
  </div>
</center>

<center>
  <form method="post">
    <button class="button" type="submit">Get Started!</button>
  </form>
</center>
