<!DOCTYPE html>
<head>
  <head>
    <link rel="stylesheet" type="text/css" href="welcome.css" media="screen"/>
  </head>
  <center>
    <title>Welcome Page</title>
    <h1>Where Am I? </h1>
    <h2>City Identifier: Skylines and Landmarks</h2>
    <h3>This application can distinguish between 5 different cities:</h3>
  </center>
    
</head>
<center>
  <div id="container">
    <div id="inner">
      <div class="child" id="SF">
        <img src="images/sanfrancisco.jpeg">
        <span> San Francisco </span>
      </div>
      <div class="child" id="NYC">
        <img src="images/newyork.jpeg">
        <span> New York City </span>
      </div>
      <div class="child" id="Lon">
        <img src="images/london.jpeg">
        <span> London </span>
      </div>
      <div class="child" id="Tokyo">
        <img src="images/tokyo.jpeg">
        <span> Tokyo </span>
      </div>
      <div class="child" id="ND">
        <img src="images/newdelhi.jpeg">
        <span> New Delhi </span>
      </div>
    </div>
  </div>
</center>

<center>
  <h3>
    Above are examples of Skylines and Below are of Landmarks
  </h3>
  <div id="container">
    <div id="inner">
      <div class="child" id="ST">
        <img src="images/newyork.jpeg">
        <span> Statue of Liberty </span>
      </div>
      <div class="child" id="BG">
        <img src="images/newdelhi.jpeg">
        <span> Bridge </span>
      </div>
    </div>
  </div>
</center>


<center>
  <a href="https://city-identifier-cs121.herokuapp.com/" class="button">Get Started!</a>
</center>
